@import "tailwindcss";

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --background: #ffffff;
  --color-light: #F8F7FF;
  --color-primary: #9381ff;
  --color-secondary: #b8b8ff;
  --color-accentDarkest: #4E179A;
  --color-accentDark: #7009E7;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
